extends base
block content
    .wrapper
        .section.parallax.bg1
            h2 Such Adorableness
        .section.static
            h2 Boring
        .section.parallax.bg2
            h2 SO FWUFFY AWWW
        .section.static
            h2 Boring
block foot