extends index
block content
    svg.svg-ic(width="45" height="44")
        use(xlink:href="#Capa_1")
    svg.svg-ic.capa-2(width="45" height="44")
        use(xlink:href="#Capa_2")
    svg.svg-ic(width="45" height="44")
        use(xlink:href="#arrow-right")
    svg.svg-ic(width="45" height="44")
        use(xlink:href="#play-arrow")
    svg.svg-ic.capa-2(width="45" height="44")
        use(xlink:href="sprites/svg/sprite.symbol.svg#next")
